@import url("navbar.css");
@import url("heroSection.css");
@import url("clintAndPartner.css");
@import url("designAndVision.css");
@import url("featuresProject.css");
@import url("happyClint.css");
@import url("startBulding.css");
@import url("footer.css");

@font-face {
  font-family: "Morganite";
  src: url("../fonts/Morganite-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-bg-color: #25211d;
  --light-bg-color: #fefcf6;
  --text-primary: #ffffff;
  --text-secondary: #25211d;
  --text-hover: #928f87;
  --border-radius: 14px;
  --border-color: #35322d;
  --logo-scroll-duration: 30s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background-color: var(--dark-bg-color);
  color: var(--text-primary);
}
