@import url("navbar.css");
@import url("heroSection.css");
@import url("clintAndPartner.css");
@import url("designAndVision.css");
@import url("featuresProject.css");
@import url("happyClint.css");
@import url("startBulding.css");
@import url("footer.css");
@import url("projectHeroSection.css");
@import url("projectDetailsSection.css");
@import url("util.css");
@import url("contactForm.css");
@import url("visitUs.css");
@import url("aboutUsHero.css");
@import url("aboutUsStory.css");
@import url("aboutUsVisitUs.css");
@import url("ourValueAboutus.css");

@font-face {
  font-family: "Morganite";
  src: url("../fonts/Morganite-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-bg-color: #25211d;
  --light-bg-color: #fefcf6;
  --text-primary: #ffffff;
  --text-secondary: #25211d;
  --text-hover: #928f87;
  --border-radius: 14px;
  --border-color--project: #d3d1c8;
  --border-color: #35322d;
  --logo-scroll-duration: 30s;
  /* Variables needed for the new regulator */
  --regulator-bg: #f0f0f0;
  --regulator-text-knob: #000000;
  --regulator-shadow: #d1d1d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background-color: var(--dark-bg-color);
  color: var(--text-primary);
}
